.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/hotkeys.json
.obsidian/graph.json
.obsidian/canvas.json
.obsidian/plugins/

.obsidian/plugins/*/data.json
work.json

.obsidian/cache/
.trash/
.DS_Store